<!DOCTYPE html>
<html lang="rus">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('blocks/header') -%>
    <main>
        <h1>Страница про нас</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti repellendus iure esse expedita perspiciatis cumque? Nulla facere molestiae aperiam provident a accusantium saepe corrupti, dolorem possimus reiciendis, sunt tempora officia.</p>
    </main>
    
</body>
</html>