<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('blocks/header') -%>
    <main>
        <h1>Главная страница</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem itaque ex nostrum minima autem, non maxime deserunt neque dolore sunt sit omnis voluptatibus quod minus labore nam? Beatae, vel dignissimos!</p>
    </main>
    
</body>
</html>